<!doctype html>

<html class="makeprofile-body">
    <head>
        <!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='82954383-0',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->



        
        <title>Stylistic</title>	
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="js/jquery-1.11.0.js"></script>
        <script src="js/bootstrap.js"></script>
        <script src="js/profile.js"></script>
        <link href="css/bootstrap.css" rel="stylesheet"></link>
        <link href="css/bootstrap-theme.css" rel="stylesheet"></link>
        <link href="css/stylistic.css" rel="stylesheet"></link>
    </head>

    <body class="makeprofile-body">
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="back-button" href="#" onclick="history.back(); return false"><img src="images/backicon.png" height="23"></a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/home">s t y l i s t i c</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/home">Home</a></li>
                        {{#if sessionUser}}
                        <li><a href="/myprofile">My Profile</a></li>
                        <li><a href="/logout">Logout</a></li>
                        {{else}}
                        <li><a href="/login">Login</a></li>
                        {{/if}}
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
        <div class="container profile-back">
            <div class="profile">
                <div class="row profile-card">
                    <form class="import-form" id="import-form" method="post" action="/uploadPhoto" enctype="multipart/form-data">
                        <img src="/images/icons/close.png" id="form-close" height="30px"></img>
                        <h4> Upload a profile picture</h4>
                        <div class="dotted">
                            <input type="file" id="imageLoader" name="image"/>
                            <img id="thisImage" src="/images/icons/import.png" width="150px"/>
                        </div>
                        <input type="submit" class="btn btn-default btn-md form-control" id="newItemBtn" value="Use as profile picture">
                    </form>
                    <div class="col-xs-5">
                        {{#if myProfile}}
                        <a href="/profile"><img src="{{user.imageURL}}" class="img-responsive"></a>
                        <button type="submit" class="photo-edit btn btn-xs btn-default">
                            <i class="glyphicon glyphicon-pencil "></i>
                        </button>
                        {{else}}
                        <img src="{{user.imageURL}}" class="img-responsive">
                        {{/if}}
                    </a>
                </div>
                <div class="col-xs-7">
                    <div class="info">
                        <div class="username">
                            <h4>{{user.username}}</h4>
                            <div class="tagline">
                                {{#if myProfile}}
                                {{#if user.motto}}
                                <textarea class="tagline-text-profile" style="resize:none; width:100%">{{user.motto}}</textarea>
                                {{else}}
                                <textarea class="tagline-text-profile" style="resize:none; width:100%">Add a tagline here</textarea>
                                {{/if}}
                                {{else}}
                                {{#if user.motto}}
                                <p>"{{user.motto}}"</p>
                                {{/if}}
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--- ALTERNATE PROFILE LAYOUT -->
    {{#if tiles}}
    <div class="container altdesign alttitle">
        <div class="row altdesign">
            <div class="col-xs-6 tile half-title boxes-title" >
                <div class="container main-half-title">
                    {{#if myProfile}}
                    <h5>YOUR BOXES</h5>
                    {{else}}
                    <h5>THEIR BOXES</h5>
                    {{/if}}
                </div>
            </div>
        <div class="col-xs-6 title half-title liked-title">
                <div class="container sub-half-title">
                    <h5>STARRED BOXES</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="container altdesign altyours">
        <div class="your-boxes">
            {{#each boxes}}
            <div class="row">
                <form name="tagForm" class="your-boxes" id="tagForm{{_id}}" role="form" method="get" action="/box">
                    <div class="col-xs-5" onClick="document.forms.tagForm{{_id}}.submit()">
                        <input type="hidden" value={{box}} name="boxname"/>
                        <input type="hidden" value={{user}} name="user"/>
                        <input type="hidden" value={{_id}} name="id"/>
                        <input type="image" src={{imageURL}} class="img-responsive"/>
                    </div>
                    <div class="col-xs-5" onClick="document.forms.tagForm{{_id}}.submit()">
                        <h4>{{box}}</h4>
                        <!--{{#each boxitems}}
                            <img src="{{imageURL}}" width="20px">
                        {{/each}}-->
                    </div>
                </form>
                <div class="col-xs-2 container">
                    {{#if ../myProfile}}
                    <form id="edit-box" name="edit-box" action="editbox" method="post">
                        <input type="hidden" name="id" value={{_id}}>
                        <button type="submit" class="btn btn-sm btn-default">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </button>
                    </form>
                    {{/if}}
                </div>
            </div>
            {{/each}}
            {{#if myProfile}}
                <form method="get" action="/createbox">
                    <button type="submit" class="btn btn-default btn-md" id="createBoxBtn">CREATE A BOX</button>
                </form>
            {{/if}}
        </div>
    </div>

    <div class="container altdesign altstarred">
        <div class="liked-boxes" style="display:none;">
            {{#each likes}}
            <form name="tagForm" id="tagForm{{_id}}" class="liked-boxes" role="form" method="get" action="/box">
                <div class="row" onClick="document.forms.tagForm{{_id}}.submit()">
                    <div class="col-xs-5">
                        <input type="hidden" value={{box}} name="boxname"/>
                        <input type="hidden" value={{user}} name="user"/>
                        <input type="hidden" value={{_id}} name="id"/>
                        <input type="image" src={{imageURL}} class="img-responsive"/>
                    </div>
                    <div class="col-xs-7">
                        <h4>{{box}}</h4>
                        <h6>Created by: {{user}}</h6>
                    </div>
                </div>
            </form>
            {{/each}}
            {{#if myProfile}}
            <form method="get" action="/browse">
                <button type="submit" class="btn btn-default btn-md" id="createBoxBtn">FIND MORE BOXES</button>
            </form>
            {{/if}}
        </div>
    </div>

   

<!--- CURRENT PROFILE LAYOUT -->
    {{else}}

    <div class="row current">
        <div class="col-xs-6 tile half-title boxes-title" >
            <div class="container main-half-title">
                {{#if myProfile}}
                <h4>YOUR BOXES</h4>
                {{else}}
                <h4>THEIR BOXES</h4>
                {{/if}}
            </div>
        </div>
        <div class="col-xs-6 title half-title liked-title">
            <div class="container sub-half-title">
                <h4>STARRED BOXES</h4>
            </div>
        </div>
    </div>

    <div class="container makeprofile">
        <div class="your-boxes">
            {{#each boxes}}
            <div class="row" id="list_row">
                <form name="tagForm" id="tagForm{{_id}}" role="form" method="get" action="/box">
                    <div class="col-xs-3" onClick="document.forms.tagForm{{_id}}.submit()">
                        <input type="hidden" value={{box}} name="boxname"/>
                        <input type="hidden" value={{user}} name="user"/>
                        <input type="hidden" value={{_id}} name="id"/>
                        <input type="image" src={{imageURL}} class="img-responsive"/>
                    </div>
                    <div class="col-xs-7" onClick="document.forms.tagForm{{_id}}.submit()">
                        <h5>{{box}}</h5>
                        <p>Tags: 
                        {{#each tags}}
                        {{this}}
                        {{/each}}
                        </p>
                    </div>
                </form>
                <div class="col-xs-2">
                    {{#if ../myProfile}}
                    <form name="edit-box" action="editbox" method="post">
                        <input type="hidden" name="id" value={{_id}}>
                        <button type="submit" class="btn btn-sm btn-default">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </button>
                    </form>
                    {{/if}}
                </div>
            </div>
            {{/each}}

            {{#if myProfile}}
            <form method="get" action="/createbox">
                <button type="submit" class="btn btn-default btn-md" id="createBoxBtn">CREATE A BOX</button>
            </form>
            {{/if}}
        </div>

        <div class="liked-boxes" style="display:none;">
            {{#each likes}}
            <form name="tagForm" id="tagForm{{_id}}" class="liked-boxes" role="form" method="get" action="/box">
                <div class="row" id="list_row" onClick="document.forms.tagForm{{_id}}.submit()">
                    <div class="col-xs-4">
                        <input type="hidden" value={{box}} name="boxname"/>
                        <input type="hidden" value={{user}} name="user"/>
                        <input type="hidden" value={{_id}} name="id"/>
                        <input type="image" src={{imageURL}} class="img-responsive"/>
                    </div>
                    <div class="col-xs-8">
                        <h5>{{box}}<span> by: {{user}}</span></h5>
                        <p>Tags: 
                        {{#each tags}}
                        {{this}}
                        {{/each}}
                        </p>
                    </div>
                </div>
            </form>
            {{/each}}
            {{#if myProfile}}
            <form method="get" action="/browse">
                <button type="submit" class="btn btn-default btn-md" id="createBoxBtn">FIND MORE BOXES</button>
            </form>
            {{/if}}
        </div>
    </div>
    {{/if}}


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48641014-1', 'stylistic.herokuapp.com');
  ga('send', 'pageview');

</script>
</body>
</html>
