<!doctype html>

<html>
    <head>
        <title>Stylistic</title>	
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="js/jquery-1.11.0.js"></script>
        <script src="js/bootstrap.js"></script>
        <link href="css/bootstrap.css" rel="stylesheet"></link>
        <link href="css/bootstrap-theme.css" rel="stylesheet"></link>
        <link href="css/stylistic.css" rel="stylesheet"></link>


        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->        
    </head>

    <body>
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="back-button" href="#" onclick="history.back(); return false"><img src="images/backicon.png" height="23"></a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/home">s t y l i s t i c</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/browse">Browse</a></li>
                        <li><a href="/recommended">Recommended</a></li>
                        <li><a href="/login">Login</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
        <div class="title main-title">
            <div class="container recommended">
                <h4>RECOMMENDED</h4>
            </div>
        </div>

        
        <div class="container recommended">
            {{#each recommended}}
            {{#addRow @index}}
            <div class="row">
                <div class="col-xs-1"></div>
                {{/addRow}}
                <div class="col-xs-5">
                    <form id="tagForm" role="form" method="get" action="/list">
                        <input type="hidden" value={{name}} name="tag"/>
                        <input type="hidden" class="gender-form" value="MF" name="gender"/>
                        <input type="image" src={{imageURL}} class="img-responsive"/>
                        <div class=tagOverlay>
                            <h6>{{name}} </h6>
                        </div>
                    </form>
                </div>
                {{#endRow @index}}
                <div class="col-xs-1"></div>
            {{/endRow}}
            {{/each}}
            </div></div> 
        </div>

        <!--<div class="container recommended">
            {{#each recommended}}
            <div class="row">
                <div class="col-xs-12">
                <form id="tagForm" role="form" method="get" action="/list">
                    <input type="hidden" value={{name}} name="tag"/>
                    <input type="hidden" class="gender-form" value="MF" name="gender"/>
                    <input type="image" src={{imageURL}} class="img-responsive"/>
                    <div class=tagOverlay>
                        <h6>{{name}}</h6>
                    </div>
                </form>
                </div>
            </div>
            {{/each}}
        </div>-->
    </html>
